:root {
    --main-color: #004da9; /* blue */
    --secondary-color: #6c757d; /* gray */
    --success-color: #28a745; /* green */
    --danger-color: #dc3545; /* red */
    --second-color: #ffc619; /* yellow */
  }
.hero{
margin-top: 10px;
background-color: rgba(0, 0, 0, 0.4);
width: 100%;
height: 50vh;
box-sizing: border-box;
position: relative;
display: flex;
align-items: center;
justify-content: center;

}

.navbar-brand h2{
    color: var(--second-color);
}
.navbar-nav a {
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    font-size: 1rem;
    
    padding: 5px 10px;
  
  }

  .navbar-nav a:hover {
    color: var(--second-color);
    border-top: 3px solid var(--second-color);
    transform: scale(1.1);
  }
 .btn1{
      background-color: var(--second-color);
      border-radius: 5px;
      color: #ffffff;
      border: none;
      font-size: 1.2rem;
  }
  .btn1:hover {
    background-color: var(--second-color);
    color: #ffffff;
  }
.content{
    color: aliceblue;
}
  
.content a{
    color: #ffffff;
  
    transition: 0.4s;
    
}

.content a:hover{
    background-color: var(--second-color);
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    

}



.image-container {
    position: relative;
    display: inline-block;
}
       

.image-container:hover .image-text
 {
    opacity: 1;
    
}
.image-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    
}
.image-container:hover img {
    filter: blur(2px); 
}

