:root {
    --main-color: #004da9; /* blue */
    --secondary-color: #6c757d; /* gray */
    --success-color: #28a745; /* green */
    --danger-color: #dc3545; /* red */
    --second-color: #ffc619; /* yellow */
  }

body{
    overflow-x: hidden;
   
    
}
.navbar{
    background-color: #ffffff;
   
}
.navbar-brand h2{
    color: var(--second-color);
    font-size: 1.2rem;
}
.navbar-nav a {
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.2rem;
  }
button a{
    text-decoration: none;
    color: #fff;
}
  .navbar-nav a:hover {
    color: var(--second-color);;
    border-top: 3px solid var(--second-color);
    transform: scale(1.1);
  }
  
span{
    color: #6b21fb;
}


button{
    background-color: var(--second-color);;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    
    
}


button:hover{
    background-color: var(--second-color);
    color: #fff;
    border: none;
    -webkit-box-shadow: -2px 0px 12px 3px rgb(255, 196, 0);
    -moz-box-shadow: -2px 0px 12px 3px rgb(248, 195, 91);
    box-shadow: -2px 0px 12px 3px rgb(255, 223, 141);
}

.hero{
    margin-top: 70px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.my-hero{
    border-bottom: 3px solid #6b21fb;
    border-bottom-style: dashed;
    padding-bottom: 70px;
}
.hero-h2{
    font-size: 3rem;
    letter-spacing: 0.4rem;
    margin-left: 50px;
   
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    
    animation: 
              typing 4s steps(20),
              cursor .4s step-end infinite alternate;
    
}
@keyframes cursor {

    50% { border-color: transparent}
}
@keyframes typing {
    from { width: 0;}
    
}
.hero-p{
    font-size: 2rem;
    margin-left: 50px;
}
.hero-text{
    font-size:1.2rem;
    margin-left: 50px;
}
.row{
    align-items: center;
}

.icon {
    color: #6b21fb;
    text-decoration: none;
    margin: 10px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    align-items: center;
}
  .icon:hover {
    color: var(--second-color);;
    transform: scale(1.1);
    
  }
@media screen and (min-width: 360px){
    .socials p{
        font-size: 0.7rem;
    }
    

}

@media screen and (max-width:769px){
   hero{
    padding: 2em;
    text-align: center;

   }

}



.contain{
    background-color: #fffdc460;
    color: #170a29;
    border-radius: 19px;
}

.about-p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
    margin-bottom: 0;
}

.read-more-button {
    display: none;
    cursor: pointer;
    color: #6b21fb;
}
.full-text {
    -webkit-line-clamp: unset; /* Show all lines when the full-text class is applied */
}



.portfolio .card {
    transition: transform 0.3s ease;
}
.portfolio .card:hover {
    transition: background-color 0.5s ease;
    transform: scale(1.05);
  }

footer{
    background-color: #070e3a;
}
  .social-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }

  .social-links svg:hover {
    color: var(--second-color);;
    transform: scale(1.1);
  }

  .footer-text {
    color: #ccc;
  }

.skills .custom_img{

        width: 50%;
        height: 50%;
}


.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(3px);
    transform: translate(-100%);

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



.contact-me .card{
   
    border: 3px solid var(--main-color);
}

.contact-me h3 {
    font-weight: 800;
    font-size: 2rem;
}
.contact-b{
    background-color: #dfe1ff3e;
    border-radius: 10px;
    padding: 20px;
}
label{
    font-weight: bolder;
    color: var(--main-color);
    padding-bottom: 10px;
}


input::placeholder{
    font-weight: lighter;
    color: #1e0a28;
}

textarea::placeholder{
    font-weight: lighter;
    color: #1e0a28;
}


.head{
    background-color: var(--main-color);
    border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: -2px 0px 12px 3px rgb(129, 173, 243);
    -moz-box-shadow: -2px 0px 12px 3px rgb(150, 164, 243);
    box-shadow: -2px 0px 12px 3px rgb(61, 71, 182);
}
.form-group{
    padding: 10px;
}

    
.c-h2{
    font-size: 3rem;
    color: #0b0e57;
}
.c-p{
    font-size: 1.4rem;
    color: #0b0e57;
}
.effect-1{
    outline: none;
    width: 100%;
    padding: 8px 0;
    border: 2px solid  var(--main-color);
    border-radius: 5px;
}

.effect-1 ~ .Focus-border{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: 0.4s;
}

.effect-1:focus{
    transition: 0.5s;
    border: 2px solid  var(--second-color);;

}
.text1{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--main-color);
    color: #FFF;
    text-align: center;
    -webkit-box-shadow: -2px 0px 12px 3px rgb(129, 173, 243);
    -moz-box-shadow: -2px 0px 12px 3px rgb(150, 164, 243);
    box-shadow: -2px 0px 12px 3px rgb(61, 71, 182);
    
}
.submit{
    background-color: var(--main-color);
}




.services .row{
    gap: 50px;

}


.text {
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--main-color);
    text-align: center;
}

.text::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 6px solid #6b21fb;
    margin-top: 4px;
    width: 150px;
    transform: translateX(-50%);
    left: 50%;
}




.serve{
        text-align: center;
        padding: 25px 10px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        background: transparent;
        transition: transform 0.5s, background 0.5s;

}

.serve i{
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--second-color);;
}

.serve p{
    color: #170a29;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    margin-bottom: 0;
}

.serve h2{
    color: #030b6f;
    font-weight: 700;
    margin-bottom: 8px;
   
}
.serve:hover{
    background: var(--second-color);;
    color: #fff;
    transform: scale(1.05);
}
.serve:hover i{
    color: var(--main-color);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafbff;
   
    padding: 20px;
    border: 2px solid var(--main-color); 
    border-radius: 5px;
    max-width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    height: 30%;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    color: var(--danger-color);
    font-weight: 600;
   
}



/**new gallery**/
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
  
  }

  .gallery-item img {
    transition: transform 0.3s ease;
    width: 100%;
    padding: 10px;
  }

  .gallery-item:hover img {
    transform: scale(1.1);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .gallery-item:hover .overlay {
    opacity: 1;
  }

  .overlay-content {
    text-align: center;
  }

  .contact i{
    font-size: 20px;
    color: #6b21fb;
    cursor: pointer;
  }

  .button{
    border: 3px solid var(--main-color);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--main-color);
    cursor: pointer;
  }
  .button:hover{
    background-color: var(--main-color);
    color: #fff;
  }

  .case-study-content h1, h3, h2{
    color: var(--main-color);

  }
.gallery{
    background-color: #6e61ff3a;
    padding: 10px;
}
.designprocess p{
    color: #070e3a;
    font-size: 10px;
}
.designprocess h5{
    color: #070e3a;
    
}
.designprocess .col{
    border-radius: 5px;
    border: 1px solid var(--second-color);;
    margin: 10px;
}
.designprocess .col:hover{
    background-color: #6228d625;
    border-radius: 5px;
}
.process{
    background-color: var(--second-color);;
    padding: 20px;
    border-radius: 5px;
    color:#ffffff;
    font-size: 30px;
}

